[Unit]
Description=My Application
After=network.target
ConditionPathExists=!/usr/bin/otherapp

[Service]
Type=notify
EnvironmentFile=-/etc/sysconfig/sshd
ExecStartPre=echo "About to start"
ExecStart=/usr/local/bin/myapp
ExecReload=/bin/kill -HUP $MAINPID
KillMode=group
Restart=on-failure
RestartSec=42s
RestartPreventExitStatus=255
Type=simple
RuntimeDirectory=myapp

[Install]
WantedBy=multi-user.target
Alias=myapp.service
